.banner {
  max-height: 20rem;
  min-height: 12rem;
  margin-top: 2rem;
  margin-bottom: 5rem;

  @media screen and (min-width: 1024px) {
    width: 95vw;
    max-width: 96rem;
    transform: translateX(-50%);
    margin-left: 50%;
  }
}

.divider {
  margin: 5rem 0;
}

.list {
  margin-bottom: 7.5rem;

  article:not(:last-child) {
    margin-bottom: 4rem;
  }
}
