@import "variables";

.socials {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .icon {
    padding: 0.25rem;

    &,
    > span {
      display: flex;

      svg {
        fill: var(--font-color_dark);
        transition: $transition-in-out;
      }

      &:hover svg {
        fill: var(--primary-color);
        opacity: 0.75;
      }
    }
  }
}
