@import "variables";

.socials {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .icon {
    padding: 0.25rem;

    &,
    > span {
      display: flex;

      svg {
        transition: $transition-in-out;

        &:hover {
          fill: $primary;
          opacity: 0.75;
        }
      }
    }
  }
}
